@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
  text-align: center;
  background-color: rgb(43, 43, 43);
  background-image: url('https://i.imgur.com/cKGGRUo.jpg');
  background-size: cover;
  font-family: 'Teko', sans-serif;
}

#game {
  margin-top: 40px;
  position: relative;
  align-self: center;
  background-image: url('https://i.imgur.com/8RLB7Ck.png');
  background-size: 350px;
  width: 600px;
  height: 600px;
  border: 3px black solid;
  border-radius: 10px;
}

h4, h5 {
  font-family: 'Teko', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  color: whitesmoke;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

img {
  width: 700px;
  margin-top: 270px;
  margin-bottom: 25px;
}

#container, #reset, #scoreTitle, #score, #lose, #dummy{
  display: none;
}

#lose {
  position: absolute;
  justify-content: center;
  font-size: 40px;
  color: red;
  bottom: 50%;
  z-index: 1;
  width: 100%;
}

#play {
  margin-top: 30px;
}

#reset {
  margin-top: 20px;
}

#scoreTitle, #score {
  color: whitesmoke;
  
}

.directions {
  display: inline;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}