body {
    background-image: url('.//img/bgimage.gif');
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

#snake {
    border: 2px solid black;
    border-radius: 10px;
}